#about_us {
	grid-template-columns: 60vw 30vw;
	display: grid;
}

#about_us_text {
	top: 50%;
	left: 50%;
	text-align: left;
}

#abous_us_images {
	grid-template-rows: auto auto;
	display: grid;
}

#about_us_images_lower {
	grid-template-columns: auto auto auto;
	display: grid;
}

#hyc_group_photo_2025 {
	max-width: 30vw;
	height: auto;
	margin: 5px;
}
